.avatar {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        border: 1px solid grey;
        max-width: 300px;
        max-height: 300px;
    }
}